<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page Title</title>
        <meta name="google-site-verification" content="huYyd_t7jQoL6G6CsIA72zs_5M2VT_N6g26YtxnpIHs" />
        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30769691-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>

    <body>
        {{ content }}
    </body>
</html>
